.top_body {
	width: 100%;
	height: 58px;
	padding: 0px;
	margin: 0px;
	background: #fff;
}

#top_logo {
	width: 500px;
	height: 58px;
	padding: 0px;
	margin: 0px;
	background: url('icons/aip_logo.png') 0px 0px no-repeat;
	float: left;
	clear: left;
	position: relative;
}

#top_rightbody {
	width: 550px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.top_menu_left {
	width: 30px;
	height: 32px;
	float: left;
	background: url('icons/top_inf_bg.png') top left no-repeat;
}

.top_menu_bg {
	width: 520px;
	height: 32px;
	float: left;
	background: url('icons/top_inf_bg2.png') top right repeat-x;
}

.top_menu_user {
	float: left;
	position: relative;
	background: url('icons/user.png') no-repeat;
	top: 8px;
	padding-left: 20px;
}

#shortcut_menu {
	width: 205px;
	height: 29px;
	float: right;
	margin: 0px;
}

#shortcut_menu ul {
	width: 205px;
	height: 29px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#shortcut_menu ul li {
	height: 25px;
	float: left;
	display: block;
	cursor: pointer;
	list-style: none;
	padding: 3px 3px;
}

#shortcut_menu ul li A {
	display: block;
	height: 25px;
}

#shortcut_menu li A.button_short01 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') 0px 0px no-repeat;
}

#shortcut_menu li A.button_short01:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') 0px -25px no-repeat;
}

#shortcut_menu li A.button_short01:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') 0px 0px no-repeat;
}

#shortcut_menu li A.button_short02 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -35px 0px no-repeat;
}

#shortcut_menu li A.button_short02:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -35px -25px no-repeat;
}

#shortcut_menu li A.button_short02:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -35px 0px no-repeat;
}

#shortcut_menu li A.button_short03 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -70px 0px no-repeat;
}

#shortcut_menu li A.button_short03:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -70px -25px no-repeat;
}

#shortcut_menu li A.button_short03:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -70px 0px no-repeat;
}

#shortcut_menu li A.button_short04 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -105px 0px no-repeat;
}

#shortcut_menu li A.button_short04:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -105px -25px no-repeat;
}

#shortcut_menu li A.button_short04:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -105px 0px no-repeat;
}

#shortcut_menu li A.button_short05 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -140px 0px no-repeat;
}

#shortcut_menu li A.button_short05:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -140px -25px no-repeat;
}

#shortcut_menu li A.button_short05:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -140px 0px no-repeat;
}

#shortcut_menu li A.button_short06 {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -175px 0px no-repeat;
}

#shortcut_menu li A.button_short06:hover {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -175px -25px no-repeat;
}

#shortcut_menu li A.button_short06:active {
	width: 27px;
	height: 25px;
	background: url('icons/menu_icon.png') -175px 0px no-repeat;
}

#container {
	position: absolute;
	width: 500px;
	height: 306px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -153px;
}

#welcome {
	width: 500px;
	height: 306px;
	background: url('icons/welcome.png') no-repeat center center;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family:arial;
	font-size: 12px;
	color: #000;
	padding-top: 5px;
	padding-left: 5px;
}
.preview_picture ul {
	width: 100%;
	float: left;
}

.preview_picture li {
	float: left;
	position: relative;
	cursor: pointer;
	list-style: none;
	margin: 12px 12px 0 12px;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.preview_picture li a {
	height: auto;
	float: left;
	display: block;
	cursor: pointer;
	border: 2px solid #a5c2da;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.preview_picture li a:hover {
	float: left;
	display: block;
	border: 2px solid #ff6600;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /*box-shadow :3px 3px 4px #999;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#999999");*/
}
/*----------form闂傚倸鍊峰ù鍥х暦閻㈢纾婚柣鎰暩閻瑩鐓崶銊р槈缂侊拷婢舵劖鍊堕柣鎰仛濞呮洟鏌￠崱顓犵暤闁哄被鍔戦幃銈夊磼濞戞﹩浼�----------
table, td, tr {
	font-size: 12px;
}
textarea, input {
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	font-size: 12px;
	line-height: 1.5em;
	width: 99%;
}
textarea {
	overflow: auto;
	padding: 0;
	margin: 0;
	height: 60px;
	display: block;
}
input {
	height: 22px;
	line-height: 16px;
	padding: 2px;
}
*/
/*#sele_vfy,sele_#vfe{
	display:none;
}
label{
	display:-moz-inline-block;
	display:inline-block;
	cursor:pointer;
	margin:5px 0;
	padding-left:20px;
	line-height:15px;
	background:url("../css/icons/radio_bg.png") no-repeat left top;
}
label.checked{
	background-position:left bottom;
}
.radio{
	display:none;
}*/
.radio {
	border: none;
	line-height: 14px;
	width: 16px;
	height: 14px;
}

table.tableForm_L {
	background-color: #B99E63;
	width: 99%;
	margin: 0px auto;
	border-collapse:collapse;
	empty-cells:hide;
	border : 0;
}

table.tableForm_L .search {
	background: #fff url('icons/search.png') 3px 6px no-repeat;
	padding-left: 22px;
}

table.tableForm_L td,table.tableForm_L th {
	padding: 2px 3px 2px 3px;
	background-color: #FFF;
	line-height: 22px;
	font-size: 12px;
	vertical-align: top;
	border:1px solid #B99E63;
}

table.tableForm_L th {
	text-align: left;
	background-color: #FCF8E7;
	font-weight: normal;
	word-break: keep-all;
	white-space: nowrap;
}

table.tableForm_C {
	background-color: #a5c2da;
	width: 99%;
	margin: 0px auto;
}

table.tableForm_C .search {
	background: #fff url('icons/search.png') 3px 6px no-repeat;
	padding-left: 22px;
}

table.tableForm_C td,table.tableForm_C th {
	padding: 2px 3px 2px 3px;
	background-color: #FFF;
	line-height: 22px;
	font-size: 12px;
	vertical-align: top;
}

table.tableForm_C th {
	background-color: #F0FAFF;
	font-weight: normal;
	word-break: keep-all;
	white-space: nowrap;
}

table.tableForm_R {
	background-color: #a5c2da;
	width: 99%;
	margin: 0px auto;
}

table.tableForm_R td,table.tableForm_R th {
	padding: 2px 3px 2px 3px;
	background-color: #FFF;
	line-height: 22px;
	font-size: 12px;
	vertical-align: top;
}

table.tableForm_R th {
	text-align: right;
	background-color: #F0FAFF;
	font-weight: normal;
	word-break: keep-all;
	white-space: nowrap;
}
#box {
	position: absolute;
	width: 360px;
	height: 180px;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -90px;
}

#404_error {
	width: 360px;
	height: 180px;
	background: url('icons/404_bg.png') no-repeat;
	padding: 70px 0 0 180px;
}

#500_error {
	width: 360px;
	height: 180px;
	background: url('icons/500_bg.png') no-repeat;
	padding: 70px 0 0 180px;
}

h1 {
	font-size: 22px;
	line-height: 36px;
}

h2 {
	font-size: 12px;
	font-weight: normal;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	color: #555658;
	line-height: 24px;
}

.red {
	color: #F00;
}

.orange {
	color: #e18000;
}

.title {
	font-size: 12px;
	font-weight: bold;
	color: #555658;
	line-height: 24px;
}
.item {
	width: 200px;
	float: left;
	margin: 0px;
	margin-top: 6px;
	padding-left: 12px;
}

.item li {
	width: 74px;
	height: 76px;
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
	position: relative;
	cursor: pointer;
	list-style: none;
	margin-right: 20px;
}

.item li a {
	display: block;
	width: 74px;
	height: 76px;
}

.item li a:hover {
	width: 74px;
	height: 76px;
	background: url('icons/hover_bg.png') 0px 0px no-repeat;
}

.item li img {
	width: 48px;
	height: 48px;
	text-align: center;
	margin: 6px 13px 0px 13px;
}

.item li h2 {
	margin: -18px 7px 0px 7px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #79878e;
	width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item_delete {
	width: 200px;
	float: left;
	margin: 0px;
	margin-top: 20px;
	padding-left: 12px;
}

.item_delete li {
	width: 74px;
	height: 92px;
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
	position: relative;
	cursor: pointer;
	list-style: none;
	margin: -14px 20px 0px 0px;
}

.item_delete li a {
	display: block;
	width: 74px;
	height: 92px;
}

.item_delete li a:hover {
	width: 74px;
	height: 92px;
	background: url('icons/delete_hover_bg.png') 0px 0px no-repeat;
}

.item_delete li img {
	width: 48px;
	height: 48px;
	text-align: center;
	margin: 6px 13px 0px 13px;
}

.item_delete li h2 {
	margin: -32px 7px 0px 7px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #79878e;
	width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.add-button {
	height: 24px;
	width: 60px;
	background: url('icons/add_button.png') 0px 0px no-repeat;
	display: block;
}

.add-button a:link {
	height: 24px;
	width: 60px;
	background: url('icons/add_button.png') 0px 0px no-repeat;
	display: block;
}

.add-button a:hover {
	background: url('icons/add_button.png') 0px -24px no-repeat;
	display: block;
}

#appPage ul {
	width: 200px;
	height: 25px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin: 0px;
	padding-left: 45px;
	background: url('icons/page_bg.png') left top repeat-x;
	border-top: 1px solid #bccfe7;
}

#appPage ul li {
	height: 20px;
	float: left;
	display: block;
	cursor: pointer;
	list-style: none;
	padding: 3px 0px 2px 0px;
}

#appPage ul li a {
	display: block;
	height: 20px;
}

#appPage li a.appPage1,appPage li a.appPage1:active {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') 0px 0px no-repeat;
}

#appPage li a.appPage1:hover {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') 0px -20px no-repeat;
}

#appPage li a.appPage2,appPage li a.appPage2:active {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -19px 0px no-repeat;
}

#appPage li a.appPage2:hover {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -19px -20px no-repeat;
}

#appPage li a.appPage3,appPage li a.appPage3:active {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -38px 0px no-repeat;
}

#appPage li a.appPage3:hover {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -38px -20px no-repeat;
}

#appPage li a.appPage4,appPage li a.appPage4:active {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -57px 0px no-repeat;
}

#appPage li a.appPage4:hover {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -57px -20px no-repeat;
}

#appPage li a.appPage5,appPage li a.appPage5:active {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -76px 0px no-repeat;
}

#appPage li a.appPage5:hover {
	width: 19px;
	height: 20px;
	background: url('icons/page.png') -76px -20px no-repeat;
}

.news_list li a,.practice_list li a,.portlet_list li a {
	text-decoration: none;
	color: #333;
	line-height: 24px;
}

.news_list li a:hover,.practice_list li a:hover,.portlet_list li a:hover {
	text-decoration: underline;
	color: #bd0a01;
	line-height: 24px;
}

.more a:link,.more a:visited,.more a:active,.portlet_more a:link,.portlet_more a:visited,.portlet_more a:active {
	float: right;
	text-decoration: none;
	color: #333;
	line-height: 24px;
}

.more a:hover,.portlet_more a:hover {
	float: right;
	text-decoration: underline;
	color: #bd0a01;
	line-height: 24px;
}

.news_list ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.news_list li {
	display: block;
	list-type: none;
	padding: 0px;
	margin: 0px;
}

.news_list li a {
	display: block;
	_display: inline;
	padding: 0px;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news_list li a:hover {
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news_list li span {
	float: right;
	text-align: right;
	line-height: 24px;
}

.practice_list ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.practice_list li {
	margin: 0px;
	padding: 0px;
	list-type: none;
	float: left;
	display: block;
	position: relative;
	padding-right: 12px;
}

.practice_list li a {
	display: block;
	padding: 0px;
}

.h2 {
	font-size: 12px;
	font-weight: bold;
	color: 565656;
	line-height: 24px;
	width: 100%;
}

.line {
	border-bottom: 1px dotted #666;
	width: 96%;
	line-height: 1px;
	/*background:url('icons/line.png') 0px 0px repeat-x;*/
}

.portlet_list ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
}

.portlet_list li {
	display: block;
	list-type: none;
	padding: 0px;
	margin: 0px;
}

.portlet_list li a {
	display: block;
	_display: inline;
	padding: 0px;
}

.portlet_list li span {
	float: right;
	text-align: left;
	padding-right: 50px;
	line-height: 24px;
}

.portlet_more {
	float: right;
	text-align: right;
	margin-top: -23px;
}

.paragraph {
	text-indent: 24px;
	line-height: 20px;
	text-align: left;
	float: left;
	width: 100%;
}

.details {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.details a:link,.details a:visited,.details a:active,.workbench a:link,.workbench a:visited,.workbench a:active,.previous a:link,.previous a:visited,.previous a:active,.next-posts a:link,.next-posts a:visited,.next-posts a:active,.remind-details a:link,.remind-details a:visited,.remind-details a:active {
	text-decoration: none;
	color: #333;
	line-height: 24px;
}

.details a:hover,.workbench a:hover,.previous a:hover,.next-posts a:hover,.remind-details  a:hover {
	text-decoration: underline;
	color: #bd0a01;
	line-height: 24px;
}

.otice-title {
	font-size: 16px;
	font-weight: bold;
	color: #039;
	line-height: 36px;
	text-align: center;
}

.view-article {
	width: 100%;
	line-height: 24px;
	margin-bottom: 30px;
}

.previous {
	float: left;
}

.next-posts {
	float: right;
}

.remind {
	width: 100%;
	line-height: 24px;
}

.remind-title {
	float: left;
	font-weight: bold;
	color: #09F;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.remind-details {
	padding-left: 20px;
	float: left;
}

.remind-date {
	float: right;
}

.add-component {
	position: absolute;
	width: 300px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -30px;
	text-align: center;
}

.component-btn {
	margin: 0px auto;
	height: 24px;
	width: 70px;
	background: url('icons/component-btn.png') 0px 0px no-repeat;
	line-height: 24px;
	text-align: center;
	display: block;
}

.component-btn a:link {
	height: 24px;
	width: 70px;
	background: url('icons/component-btn.png') 0px 0px no-repeat;
	display: block;
	text-decoration: none;
	color: #039;
}

.component-btn a:hover {
	height: 24px;
	width: 70px;
	background: url('icons/component-btn.png') 0px -24px no-repeat;
	display: block;
	text-decoration: none;
	color: #05f;
}

#pagination-digg {
	border: 0px;
	width: 100%;
}

#pagination-digg li {
	border: 0px;
	padding: 0px;
	list-style: none;
	line-height: 16px;
	float: left;
	display: block;
}

#pagination-digg a {
	border: solid 1px #9aafe5;
	margin-right: 2px;
}

#pagination-digg .previous-off,#pagination-digg .next-off {
	border: solid 1px #DEDEDE;
	color: #888;
	display: block;
	float: left;
	font-weight: bold;
	padding: 2px 4px;
}

#pagination-digg .next a,#pagination-digg .previous a {
	font-weight: bold;
}

#pagination-digg .active {
	background: #2e6ab1;
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	float: left;
	padding: 3px 6px;
}

#pagination-digg a:link,#pagination-digg a:visited {
	color: #0e509e;
	display: block;
	float: left;
	padding: 2px 6px;
	text-decoration: none;
}

#pagination-digg a:hover {
	border: solid 1px #0e509e;
}

.notice-layout {
	position: absolute;
	width: 60%;
	left: 50%;
	margin-left: -30%;
}

.notice-title {
	font-size: 16px;
	color: #F00;
	text-align: center;
	font-weight: bold;
	line-height: 36px;
	height: 48px;
}

.notice-publish {
	width: 50%;
	text-align: right;
	line-height: 30px;
	color: #6c6c6c;
	margin: 0px auto;
}

.notice-line {
	border-top: solid 1px #8c8c8c;
	margin-bottom: 10px;
}

.notice-date {
	float: right;
	margin-top: 100px;
}

.notice-department {
	width: auto;
	text-align: center;
	line-height: 24px;
}

.notice-red {
	color: #06F;
	text-decoration: underline;
}

.menu1 {
font-size:14px;
font-weight:bold;
}

.menu2{
font-weight:bold;
padding-top:10px;
background-color:#f9faf9;
}

.notice{
font-weight:bold;
color:#ff0000;
}

.hidedetail{
background:url(icons/hide_title.png) left top no-repeat;
cursor:pointer;
padding-left:12px;
color:#03319a;
}

.code{
border:1px dotted #cccecc;
background-color:#f9faf9;
width:98%;
margin-left:5px;
}

.help-pic{
background:url(icons/hide_title.png) left top no-repeat;
}

#ab_title{
background:url(icons/title_bg.jpg) left top repeat-x;
width:99%;
height:33px;
text-align:right;
padding:5px 5px 0 0;
}

#ab_title span{
display:block;
float:left;
font-size:15px;
color:#fff;
font-weight:bold;
padding-left:22px;
}

#sys_version{
width:95%;
padding:22px 0 0 12px;
}

#sys_version dl{
width:100%;
margin-top:5px;
}

#sys_version dt{
background:url(../images/icons/arr_dot.gif) left 3px no-repeat;
padding-left:15px;
line-height:20px;
color:#8e6413;
}

.ver_ol_list{
padding-left:20px;
margin-left:30px;
}

.ver_ol_list li{
line-height:20px;
}

.must{
color:#FF0000;
}
.form-upload-div{
	position:relative;padding:5px;height:130px
}
.form-upload-div img{
	position:absolute;top:22px;left:32%
}

/*--------------权限按钮显示处理----------------*/
.noValidAuthority{
	display: block;
}
.add,.delete,.batchDel,.edit,.view,.resetPwd,.assignUser,.assignChatGroup,.assignApp,.setGagTime,.userSetting,.export,.redo,.undo,.recommand,.approve_chat_pass,.approve_chat_reject,.reply,.push,.start,.stop,.exitRoom{
	display: none;
}
