.yxForm table,td,tr {
	font-size: 12px;
}

.yxForm input textarea {
	background-color: #FFFFFF;
	border: 1px solid #7f9db9;
	line-height: 1.5em;
	font-size: 12px;
}

.yxForm textarea {
	overflow: auto;
	padding: 0;
	margin: 0;
	height: 60px;
	display: block;
	resize: none;
	font-size: 12px;
	border:1px solid #707070;
}

.yxForm input,.easyui-combobox {
	height: 18px;
	line-height: 16px;
	border:1px solid #707070;
}

.yxForm input[type="radio"] {
	height: auto;
}

.yxForm input[type="checkbox"] {
	height: auto;
}

.txt_50 {
	width: 50px
}

.txt_80 {
	width: 80px
}

.txt_100 {
	width: 100px
}

.txt_120 {
	width: 120px
}

.txt_150 {
	width: 150px
}

.txt_200 {
	width: 200px
}

.txt_300 {
	width: 300px
}

.controlList {
	position: absolute;
	top: 50%;
	margin-top: -60px;
}

.controlList td {
	text-align: center;
	padding: 5px 0;
}

.data-tips-info {
	margin: 5px;
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
}

.data-tips-tip {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	float: left;
}

table.exchangerate_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	width:900px;
	margin:30px auto 0;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.exchangerate_table th {
	border-width: 1px;
	padding: 8px 15px;
	border-style: solid;
	border-color: #B89E61;
	background-color: #DED6B1;
}
table.exchangerate_table td {
	border-width: 1px;
	padding: 8px 15px;
	border-style: solid;
	text-align:center;
	border-color: #B89E61;
	background-color: #ffffff;
}
table.exchangerate_table input{
	text-align:center;
}